#cabecera{
	-fx-background-color: #008080;
	-fx-pref-height: 50px;
	-fx-alignment: center;
}
#centrar{
	-fx-alignment: center;
}
#titulo{
	-fx-background-color: #6b6bff;
  	-fx-background-size: 800 900;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width:5;
	-fx-pref-height: 5px;
	-fx-alignment: center_left;
	-fx-spacing: 280px;
	-fx-padding: 10px;

}
#titulo Text{
	-fx-fill: white;
}
#footer{
	-fx-alignment:center;
	-fx-border-color: lightgrey;
	-fx-border-width: 2;
}
#imagen{
	-fx-image: url("/img/javafx_account_example.jpg");
	-fx-pref-height: 20px;
	-fx-pref-width: 20px;	
	
}
#main{
	-fx-border-color: lightgrey;
	-fx-border-width: 2;
}
#columna HBox{
	-fx-pref-height: 30px;
	-fx-border-color: lightgrey;
	-fx-border-width: 2;
}
#contentHeader{
-fx-font-weight: bold;
}
#account {
	-fx-alignment: center_right;
	-fx-spacing:10;
}